---
import BaseLayout from "../layouts/BaseLayout.astro";
import Image from "astro/components/Image.astro";
const projects = await Astro.glob("./portfolio/*.md");

const images =  projects.map(async (project)=> {
  return  await import(`../assets/thumbnails/${project.frontmatter.thumbnail}`);
})

const imagesImports = await Promise.all(images);

---

<BaseLayout title="Portfolio">
  <main slot="content" class="p-3">
    <h1 class="text-emerald-500 font-bold text-3xl font-roboto mb-10">
      Portfolio
    </h1>

    <div class="cards-container">
      {
        projects.map((project, idx) => (
          <article class="posts-cards">
            <a href={project.url}>
              <h3 class="font-roboto text-xl"> {project.frontmatter.title}</h3>
            </a>
            <a href={project.url}>
              <Image
                class="card-thumbnail"
                src={imagesImports[idx].default}
                alt={project.frontmatter.alt}
                loading="eager"
              />
            </a>
            <p class="font-roboto text-slate-300">
              {project.frontmatter.description}
            </p>
          </article>
        ))
      }
    </div>
  </main>

  <style>
    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 50px;
    }
    .card-thumbnail {
      @apply rounded-md;
      width: 300px;
    }

    .posts-cards {
      @apply flex flex-col gap-5;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
  </style>
</BaseLayout>
