---
import BaseLayout from "../layouts/BaseLayout.astro";
const projects = await Astro.glob("./portfolio/*.md");
---

<BaseLayout title="Portfolio">
  <main slot="content" class="p-3">
    <h1 class="text-emerald-500 font-bold text-3xl font-roboto mb-10">
      Portfolio
    </h1>

    <div class="cards-container">
      {
        [...projects, ...projects, ...projects].map((project) => (
          <article class="posts-cards">
            <a href={project.url}>
              <h3 class="font-roboto text-xl"> {project.frontmatter.title}</h3>
            </a>
            <a href={project.url}>
              <img
                class="card-thumbnail"
                src={project.frontmatter.thumbnail}
                alt={project.frontmatter.alt}
              />
            </a>
            <p class="font-roboto text-slate-300">
              {project.frontmatter.description}
            </p>
          </article>
        ))
      }
    </div>
  </main>

  <style>
    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 50px;
    }
    .card-thumbnail {
      @apply rounded-md bg-slate-800;
      width: 300px;
    }

    .posts-cards {
      @apply flex flex-col gap-5;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
  </style>
</BaseLayout>
